<div id="project-card-{{@project.id}}"
     class="card {{if @isSelected "text-white bg-dark"}}"
     onclick={{action @onSelect @project.id}}>
  <div class="card-body">
    <h5 class="card-title">
      {{@project.name}}
    </h5>

    <p class="card-text">
      {{excerpt @project.description}}
    </p>

    {{#if this.hasDistance}}
      {{format-distance this.distance}}
    {{/if}}
  </div>
</div>
